<header class="header">
<div class="page-header__conteiner">
<a href="index.html" class="logo">
    <img src="../images/deckstope/header/header-logo.svg" alt="логотип" width="" height="">
</a>
<ul class="header__language">
    <li class="header__language-item">UKR</li>
    <li class="header__language-item">ENG</li>
    <li class="header__language-item">RUS</li>
</ul>
 <ul class="header__contacts">
     <li class="header__item">
         <a href="tel:+38(093)6432288">
             <svg class="header__icon" width="14" height="14">
                 <use href="../images/deckstope/header/header-icon.svg"></use>
             </svg>
              " +38 (093) 643 22 88"                                 
         </a>
     </li>
     <li class="header__item">
         <a href="tel:+38(050)3454423">
             <svg class="header__icon" width="14" height="14">
                 <use href="../images/deckstope/header/header-icon.svg"></use>
             </svg>
              " +38 (050) 345 44 23"              
         </a>
     </li>
 </ul>

</div>
</header>